//Modulos 
@use 'headers';


// Variables
$font-global: Roboto, Helvetica, Arial ;
$background-general: skyblue;
$color-primary: brown ;
$color-secondary: green;

body{
    background-color: $background-general;
    font-family: $font-global;
}

h1{
    color: $color-primary;
}

p{
    color: $color-secondary;
}


// Anidaciones de codigo con Sass
// Anidacion principal
.caja{

    background-color: white;
    border: 1px solid black;
    margin: 0px auto;
    width: 300px;
    height: auto;
    text-align: center;
    box-shadow: 0px 0px 7px black;

    h2{
        color: purple;
        font-size: 24px;
    }

    p{
        color: orange;
        font-size: 18px;
    }

    // Anidacion dentro de la principal
    .info{
        color:red;
        
        span{
            color: pink;
            font-size: 16px;
        }
    }
}

// Mixins o Funciones
// En los mixins se pueden anadir variables
// Ademas de pasarle parametros como una funciones

@mixin aleatorio($color,$radius,$shadow){
    border: 3px solid $color;
    border-radius: $radius;
    box-shadow: 1px 1px 3px $shadow;
}

.lista-1{
    @include aleatorio(green,5px,orange);
}

.lista-2{
    @include aleatorio(purple,15px,gray);
}

